<?php
$this->assign('title', 'Lista de Tarefas');
?>

<div class="panel panel-default">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
        Panel content
    </div>
</div>
